<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/headheader.ejs%>

</head>
<body>

<% include templates/firstbodyheader.ejs%>
<div style="margin-left: 1%; margin-right: 10%; margin-bottom: 30%">
    <p style="font-size: large">
        <%= content %>
    </p>
</div>
<% include templates/secondbodyheader.ejs%>



</body>
</html>
