<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <% include templates/header.ejs%>

    <h1><%= title%></h1>

    <p>Hi, we are mov_on, we will teach you how to build a cool game in assembly language.</p>
</body>
</html>
