<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/headheader.ejs%>

</head>
<body>

<% include templates/firstbodyheader.ejs%>
<div class="text-center page-header">
    <p style="font-size: large">
        <%= content %>
    </p>
    <button class="btn-lg navbar-btn"></button>
</div>

<% include templates/secondbodyheader.ejs%>



</body>
</html>
