<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/headheader.ejs%>
    <script type="application/javascript">
        function showDropDown() {
            $("#hiddenDropDown").slideToggle();
        }
        function init() {
            $("#hiddenDropDown").slideUp();
        }
    </script>
</head>
<body onload="init()">

<% include templates/firstbodyheader.ejs%>
<div class="text-center page-header">
    <p style="font-size: xx-large">
        This way you will learn a lot about assembly language and low-level programming,
        how the operating system handles graphics, and how the computer works.
    </p>
    <button onclick="showDropDown()" class="btn-lg navbar-btn btn-default" style="color:#080808">Contact Us</button>
    </div>
<div class="text-center lead" id="hiddenDropDown" style="color:blanchedalmond;display: none;font-size: x-large; padding-top: 50px">
    <b> <p> Feel free to contact us!</p>
        <p> By email: INSERT HERE</p>
        <p> By Phone: INSERT HERE</p>
        <p> If you have any ideas on how to improve our service or just want to say hello, we are here for you.</p></b>
</div>

<% include templates/secondbodyheader.ejs%>



</body>
</html>
