<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/headheader.ejs%>
</head>
<body>

<% include templates/firstbodyheader.ejs%>

<h1><%= title%></h1>

<p>Hi, we are mov_on, we will teach you how to build a cool game in assembly language.</p>

<% include templates/secondbodyheader.ejs%>

</body>
</html>
