<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/headheader.ejs%>
</head>
<body>

<% include templates/firstbodyheader.ejs%>

<h1><%= title%></h1>

<p>Admin Panel</p>
<table id = 'ut' border="1">

</table>
<script>
    var usersTable = <%- JSON.stringify(userTable)%>
    document.getElementById('ut').innerHTML=usersTable;
</script>

<% include templates/secondbodyheader.ejs%>

</body>
</html>
