<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; height: 5vh}
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        #chat_viewport {
            height: 95vh;
        }
    </style>

</head>
<body>
<script>
    height = window.innerHeight;
</script>
<div id="chat_viewport" style="overflow:auto; color: deepskyblue; background-image: url('images/chatbg.jpg')">
    <ul id="messages"></ul>
</div>
<form action="" style="margin-top: 20px;">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    putZeroesBefore = function(time){
        while (time.length<2)
            time = "0" + time;
        return time;
    }

    var username = <%- JSON.stringify(username)%>
    console.log(username);
    var date = new Date;
    date.setTime(date.getTime());

    var seconds = putZeroesBefore(date.getSeconds());
    var minutes = putZeroesBefore(date.getMinutes());
    var hour = putZeroesBefore(date.getHours());
    var timeString = "<"+hour+":"+minutes+":"+seconds+">";
    var socket = io();
    $('form').submit(function(){
        var chatmsg = $('#m').val();
        if(chatmsg.length > 1)
            socket.emit('chat message', timeString + " " + username + ":  " + chatmsg);
        $('#m').val('');
        var chat_height = $('#messages').outerHeight();
        $('#chat_viewport').scrollTop(chat_height);
        return false;
    });
    socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
        var chat_height = $('#messages').outerHeight();
        $('#chat_viewport').scrollTop(chat_height);
    });
</script>
</body>
</html>