<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/headheader.ejs%>
</head>
<body>

<% include templates/firstbodyheader.ejs%>

<h1>Guide 0x0 - Introduction</h1>
<p>
    
</p>
<% include templates/secondbodyheader.ejs%>
</body>
</html>
