<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/headheader.ejs%>
</head>
<body>

<% include templates/firstbodyheader.ejs%>

<ul id="lst" style="padding-top: 5%">
        <li><a href="/guides/0">Guide 0x0: Opening a window</a></li>
        <li><a href="/guides/1">Guide 0x1: The message loop</a></li>
        <li><a href="/guides/2">Guide 0x2: Getting input</a></li>
</ul>
<% include templates/secondbodyheader.ejs%>
</body>
</html>
