<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs%>

<h1><%= title%></h1>
<ul id="lst">
        <li><a href="guide0">Opening a window</a></li>
        <li><a href="guide1">The message loop</a></li>
        <li><a href="guide2">Getting input</a></li>
</ul>
</body>
</html>
