<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link href="/stylesheets/guides.css" rel="stylesheet">

    <% include templates/headheader.ejs%>
</head>
<body>

<% include templates/firstbodyheader.ejs%>

<h1>Guide 0x2 - getting inputs from user</h1>
<h2>Introduction</h2>
<pre style="font-size: large">
    On this guide we will be recieving inputs from the user. What kind of input?
    Mouse clicks and position, keyboard pressses. If you want any other input, go search online about how to get it using our methods (or not).
</pre>
<h2></h2>
<% include templates/previousAndNextButtons.ejs%>
<% include templates/secondbodyheader.ejs%>
</body>
</html>
