<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs%>
    <h1 style="font-size: 5vh"><%= title %></h1>
    <p style="font-size: 3vh">Welcome to <%= title %></p>
  </body>
</html>
