<!DOCTYPE html>
<html>
<head>
    <title>404 not found</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs%>

<h1>Error 404 not found</h1>
<p>Page not found.</p>
</body>
</html>
