<!DOCTYPE html>
<html>
<head>
    <title>404 not found</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include templates/headheader.ejs%>
</head>
<body>

<% include templates/firstbodyheader.ejs%>

<h1>Error 404 not found</h1>
<p>Page not found.</p>
<% include templates/secondbodyheader.ejs%>
</body>
</html>
