<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include templates/header.ejs%>

<h1><%= title %></h1>
<h2>Change password</h2>
<p style="color: red; font-size: 4vh;"><%= error%></p>
<form action="http://149.78.95.151:80/changepassword" method="post">
    <table>
        <tr>
            <td>Old password: </td>
            <td><input type="password" name="old"></td>
        </tr>
        <tr>
            <td>New password: </td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>Verify password: </td>
            <td><input type="password" name="verifypassword"></td>
        </tr>
        <tr>
            <td><input type="submit" name="Change Password"></td>
        </tr>

    </table>
</form>
</body>
</html>
