<!--<a href="/"><img src="images/movon.png"></a>-->
<p id = connedAs style="font-size: 35px"></p>
<div id = "nav">
    <ul id ='myul'>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/guides">Guides</a></li>
        <script>
            var username = <%- JSON.stringify(username)%>
            console.log(username);
            if(username != null && username != 'undefined')
                document.getElementById('connedAs').innerHTML= 'Logged in as ' + username;
            else
                document.getElementById('connedAs').innerHTML='You are not logged in';
        </script>
        <script>
            var extra = <%- JSON.stringify(extra)%>
            document.getElementById('myul').innerHTML+=extra;
        </script>
    </ul>
</div>
